In [1]:
import tensorflow as tf
import mitdeeplearning as mdl
import numpy as np
import matplotlib.pyplot as plt
import scipy.io as sc
import pandas as pd
dataFile = "./my_data.mat"
labelFile = './my_label.mat'

my_data = sc.loadmat(dataFile)
my_labels = sc.loadmat(labelFile)

In [100]:
my_sample = my_data['y']

In [39]:
my_sample = my_data['y'].T
my_label = my_labels['ip'].T

In [140]:
def dataClean(my_data, my_labels):
    my_sample = my_data['y'].T
    my_label = my_labels['ip'].T
    array = [-3,-1,1,3]
    symbols = [complex(i,j)for i in array for j in array]
    a = []
    for i in range((my_label.shape[0])):
        for j in range(len(symbols)):
            if my_label[i] == symbols[j]:
                a.append(j)
    size = my_sample.shape[0]
    my_Table = pd.DataFrame({'real': my_sample.real.reshape(size), 'imag': my_sample.imag.reshape(size),
                  'label': a})
    return my_Table

In [141]:
test = dataClean(my_data, my_labels)

In [142]:
test

            real      imag  label
0       0.873692  0.902812      3
1       0.351024  0.308342     10
2       0.262022 -0.842452      8
3       0.286176 -0.898863      8
4      -0.998481  0.288196      2
...          ...       ...    ...
199995 -0.365253  0.909159      7
199996 -0.922050 -0.352069      1
199997  0.329067  0.147319     10
199998 -0.917628 -0.989886      0
199999 -0.947562 -0.921812      0

[200000 rows x 3 columns]