In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.model_selection import train_test_split
from tensorflow.keras import layers, losses
from tensorflow.keras.datasets import fashion_mnist
from tensorflow.keras.models import Model
import random

In [35]:
def make_generator(blockSize):
    model = tf.keras.Sequential()
    model.add(layers.Conv2D(16, (5, 2), strides=(2, 2), activation="linear", padding='same',
                            input_shape=(blockSize, 2, 1)))
    model.add(layers.Conv2D(8, (5, 1), activation="linear", padding='same'))
    model.add(layers.Conv2DTranspose(8, kernel_size=(5, 1), activation='linear', padding='same'))
    model.add(layers.Conv2DTranspose(16, kernel_size=(5, 2), strides=(2, 2), activation='linear', padding='same'))
    model.add(layers.Conv2D(1, kernel_size=(3, 3), activation='linear', padding='same'))
    return model

In [36]:
test = make_generator(50)
test.summary()

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_34 (Conv2D)           (None, 25, 1, 16)         176
_________________________________________________________________
conv2d_35 (Conv2D)           (None, 25, 1, 8)          648
_________________________________________________________________
conv2d_transpose_20 (Conv2DT (None, 25, 1, 8)          328
_________________________________________________________________
conv2d_transpose_21 (Conv2DT (None, 50, 2, 16)         1296
_________________________________________________________________
conv2d_36 (Conv2D)           (None, 50, 2, 1)          145
=================================================================
Total params: 2,593
Trainable params: 2,593
Non-trainable params: 0
_________________________________________________________________

In [29]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("../gan_module/result/2_4/" + "result")

In [24]:
result = data.loc[:, ['fake_real','fake_imag']].to_numpy() - data.loc[:, ['label_real', 'label_imag']].to_numpy()

In [35]:
np.mean(np.square(result))

0.040174020419846655

In [34]:
data

,real,imag,fake_real,fake_imag,block,cons,label_real,label_imag,labels
0,-0.724272,0.670437,-0.660806,0.614447,158,0,-0.707107,0.707107,0
1,-0.650168,0.707772,-0.611309,0.667419,158,0,-0.707107,0.707107,0
2,-0.613061,-0.772077,-0.525102,-0.711174,158,0,-0.707107,-0.707107,2
3,0.650678,0.664507,0.594283,0.630617,158,0,0.707107,0.707107,1
4,-0.662037,-0.663142,-0.617642,-0.632454,158,0,-0.707107,-0.707107,2
...,...,...,...,...,...,...,...,...,...
499995,0.643398,-0.464784,0.639079,-0.423606,4728,1,0.948683,-0.316228,15
499996,-0.091442,0.757755,-0.098402,0.676239,4728,1,-0.316228,0.948683,5
499997,-1.126019,-1.162268,-1.032892,-1.069017,4728,1,-0.948683,-0.948683,16
499998,0.689837,0.713367,0.643787,0.697529,4728,1,0.948683,0.948683,7
499999,0.752585,-0.564606,0.699011,-0.524190,4728,1,0.948683,-0.316228,15